<a href="https://colab.research.google.com/github/Daisyshi84/BCG_Gamma/blob/main/BCG_GAMMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import packages

In [6]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import datetime
import pickle
%matplotlib inline
sns.set(color_codes=True)

In [33]:
#Set maximum number of columns to be displayed
pd.set_option('display.max_columns',100)

In [44]:
#load data
training_data = pd.read_csv("ml_case_training_data.csv") 
churn_data = pd.read_csv("/WA_Fn-UseC_-Telco-Customer-Churn.csv") 
history_data = pd.read_csv("/ml_case_training_hist_data.csv") 
history_data.head()

,id,price_date,price_p1_var,price_p2_var,price_p3_var,price_p1_fix,price_p2_fix,price_p3_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0